@use "../base/variables" as v;

header.header {
  padding-right: v.$padding-main-container;

  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: v.$header-bg;
  border-bottom: 1px solid v.$header-border-color;
  padding-left: v.$sidebar-width;

  .header__user-image {
    height: v.$user-img-size;

    img {
      width: v.$user-img-size;
      border-radius: 50%;
      aspect-ratio: 1/1;
    }
  }
}
