@use "../base/variables" as v;

section.add-product {
  margin-bottom: 40px;

  form.add-product__form {
    .form__upload-img {
      user-select: none; /* Firefox/Chrome/Edge */ // Допомогло трохи
      -webkit-user-modify: read-only;

      h2 {
        margin-bottom: 20px;
        user-select: none; /* Firefox/Chrome/Edge */ //
        -webkit-user-modify: read-only;
      }

      .draguble-upload-images-box {
        margin: 0 auto;
        display: flex; // треба бо картинки будуть звужуватися
        padding-bottom: 20px;
        padding-top: 20px;

        max-width: calc(100svw - 320px);
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 20px;

        touch-action: pan-x; /* ✅ дозволяє горизонтальний скрол */
        user-select: none;
        -webkit-user-modify: read-only;

        &::-webkit-scrollbar {
          width: 8px; // Ширина вертикального скролу
          height: 8px; // Висота горизонтального скролу
        }

        // Стилізація доріжки (фон під скролом)
        &::-webkit-scrollbar-track {
          background-color: #f0f0f0;
          border-radius: 4px;
        }

        // Стилізація повзунка (сам скрол)
        &::-webkit-scrollbar-thumb {
          background-color: #1d1d1d; // Колір повзунка
          border-radius: 4px;
          &:hover {
            background-color: #555; // Колір при наведенні
          }
        }

        // Стилізація кута, де горизонтальний і вертикальний скрол перетинаються
        &::-webkit-scrollbar-corner {
          background-color: transparent;
        }

        /* Стилізація скролу для Firefox */
        scrollbar-width: thin; /* Варіанти: auto, thin, none */
        scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1); /* Повзунок і фон */

        .wrap-images {
          display: flex;
          gap: 20px;
          user-select: none; /* Firefox/Chrome/Edge */ //
          -webkit-user-modify: read-only;
          touch-action: pan-x;

          .image-box {
            position: relative;
            width: 150px;
            height: 170px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: grab;

            // -webkit-touch-callout: none; /* 🚫 Save Image */
            // // touch-action: none; /* ✅ drag працює на мобільному */
            // touch-action: pan-x; /* ✅ дозволяє горизонтальний скрол */
            // user-select: none;
            // -webkit-user-modify: read-only;

            // /* 🧠 Ключове — вимикаємо все, що заважає drag і зуму на iOS */
            // -webkit-touch-callout: none; /* 🚫 Забороняє “копіювати/зберегти зображення” */
            // -webkit-user-drag: none; /* 🚫 Забороняє Safari перетягувати картинку як файл */
            // -webkit-tap-highlight-color: transparent; /* 🚫 Без сірої підсвітки при тапі */
            // touch-action: none; /* ✅ drag працює на мобільному */

            .remove-button {
              position: absolute;
              right: -6px;
              top: -6px;
              width: 25px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #d0d2d2;
              padding: 7px;
              border-radius: 50%;
              cursor: pointer;

              img {
                border: none;
                aspect-ratio: 1/1;
              }
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }

      // Старий блок з завантаженням картинок

      // .upload-images-box {
      //   margin: 0 auto;
      //   display: flex;
      //   padding-bottom: 20px;
      //   padding-top: 20px;

      //   max-width: calc(100svw - 320px);
      //   overflow-x: auto;
      //   scroll-snap-type: x mandatory;
      //   gap: 20px;

      //   &::-webkit-scrollbar {
      //     width: 8px; // Ширина вертикального скролу
      //     height: 8px; // Висота горизонтального скролу
      //   }

      //   // Стилізація доріжки (фон під скролом)
      //   &::-webkit-scrollbar-track {
      //     background-color: #f0f0f0;
      //     border-radius: 4px;
      //   }

      //   // Стилізація повзунка (сам скрол)
      //   &::-webkit-scrollbar-thumb {
      //     background-color: #1d1d1d; // Колір повзунка
      //     border-radius: 4px;
      //     &:hover {
      //       background-color: #555; // Колір при наведенні
      //     }
      //   }

      //   // Стилізація кута, де горизонтальний і вертикальний скрол перетинаються
      //   &::-webkit-scrollbar-corner {
      //     background-color: transparent;
      //   }

      //   /* Стилізація скролу для Firefox */
      //   scrollbar-width: thin; /* Варіанти: auto, thin, none */
      //   scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1); /* Повзунок і фон */

      //   label.image-label {
      //     min-width: 150px;
      //     width: 150px;
      //     display: flex;
      //     cursor: pointer;
      //     position: relative;

      //     .delete-img {
      //       position: absolute;
      //       right: -6px;
      //       top: -6px;
      //       background-color: #d0d2d2;
      //       padding: 5px;
      //       border-radius: 50%;
      //       width: 25px;
      //       aspect-ratio: 1/1;
      //       cursor: pointer;
      //       display: flex;
      //       align-items: center;
      //       justify-content: center;

      //       img {
      //         border: none;
      //         aspect-ratio: 1/1;
      //         width: 10px;
      //       }
      //     }

      //     img.photo {
      //       border: 3px dotted v.$dark-grey;
      //       aspect-ratio: 150/170;
      //       object-fit: cover;
      //     }

      //     input[type="file"] {
      //       display: none;
      //     }
      //   }
      // }
      // End Старий блок з завантаженням картинок
    }

    .form__product-name {
      margin-top: 20px;
      margin-bottom: 20px;

      h2 {
        margin-bottom: 20px;
      }

      input.product-name {
        width: calc(700px / 1225px * 100%);
      }
    }

    .form__product-desc {
      margin-bottom: 20px;

      h2 {
        margin-bottom: 20px;
      }

      textarea.product-area {
        width: calc(700px / 1225px * 100%);
      }
    }

    .form__category-box {
      select,
      input {
        min-width: 180px;
        width: 180px;
      }

      h2 {
        margin-bottom: 20px;
      }

      display: flex;
      gap: 30px;
      flex-wrap: wrap;

      .category {
        h2 {
        }
      }

      .subcategory {
        h2 {
        }
      }

      .price {
        h2 {
        }

        input {
        }
      }
    }

    .form__product-size-box {
      margin-bottom: 20px;
      margin-top: 20px;

      h2 {
        margin-bottom: 20px;
      }

      .form__isSizesAvailable-box {
        margin-bottom: 30px;

        label.isSizesAvailable {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 10px;

          input[type="checkbox"] {
            min-width: auto;
            width: 20px;
            aspect-ratio: 1/1;
          }

          p {
            font-size: 18px;
          }
        }
      }

      .sizes-box {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        label.size {
          width: 60px;
          aspect-ratio: 1/1;
          background-color: v.$dark-grey;
          font-weight: 600;
          display: flex;
          justify-content: center;
          align-items: center;
          //   border: 2px solid orange;
          color: v.$accent-color;

          input.size-checkbox {
            display: none;
          }
        }
      }
    }

    .form__bestseller-box {
      margin-bottom: 30px;

      h2 {
        margin-bottom: 20px;
      }

      label.bestseller {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;

        input[type="checkbox"] {
          min-width: auto;
          width: 20px;
          aspect-ratio: 1/1;
        }

        p {
          font-size: 18px;
        }
      }
    }

    p.error {
      padding-top: 10px;
      padding-left: 10px;
    }
  }
}
