@use "./base/index" as base;
@use "./components/index" as components;

[class*="__container"] {
  max-width: 1920px;
  margin: 0 auto;
}

body {
  font-family: base.$font-primary;
  color: base.$primary-color;
  background-color: base.$light-blue;

  .wrap-admin-panel {
    background-color: base.$secondary-color;
    display: flex;

    .wrap-header-main {
      flex-grow: 1;
      background-color: base.$tertiary-color;

      main.page {
        padding: 30px 0 20px 20px;

        padding-right: base.$padding-main-container;
      }
    }
  }
}
