// ############################ MAIN CONTAINER ############################

$padding-main-container: 15px;

// ############################ END MAIN CONTAINER ############################

// #### FONTS ####

$font-primary: "Lato", serif;
$font-secondary: "Manrope", serif;
$font-tertiary: "Prata", serif;

// #### COLORS ####

// $primary-color: #ffffff;
// $secondary-color: #2e2e48;
// $tertiary-color: #424267;
// $accent-color: #000000;

$primary-color: #ffffff;
$secondary-color: #37353e;
$tertiary-color: #715a5a;
$accent-color: #000000;

// extra colors
$dark-grey: #e1e1e1;
$light-blue: #e3e7fc;
// $color-active: #475be8;
$color-active: #25242a;
// $border-color: #adadad;
$color-error: #e74c3c;
$color-success: #00a625;
$pending-color: orange;
$gold-color: gold;
$gray-color: #808080;

// $active-color: $pending-color;

// ############################ COMPONENTS ############################
// #### Button ####

$btn-color: $primary-color;
$btn-bg: $color-active;
$btn-font-size: 16px;
$btn-font-weight: 600;
$btn-border: 1px solid $primary-color;

$btn-hover-color: $accent-color;
$btn-hover-bg: $primary-color;

// #### Product List Table ####
$table-bg: $secondary-color;
$table-color: $primary-color;

$table-head-bg: $tertiary-color;
$table-head-fw: 600;

$table-border-radius: 16px;

// ############################ Header ############################
$user-img-size: 50px;
$header-bg: $secondary-color;
$header-border-color: $gold-color;

// ############################ Sidebar ############################

$sidebar-color: $dark-grey;
$sidebar-bg: $secondary-color;
$sidebar-family: $font-secondary;
$sidebar-fz: $secondary-color;
$sidebar-fw: $secondary-color;
$sidebar-width: 215px;

$sidebar-item-active-color: $primary-color;
$sidebar-item-active-bg: $color-active;

$sidebar-border-color: $gold-color;

// ############################ Sidebar ############################
$mobile-menu-color: $sidebar-color;
$mobile-menu-bg: $sidebar-bg;
$mobile-menu-family: $sidebar-family;

// ############################ BreadCrumbs ############################
$bread-crumbs-gap: 5px;

// ############################ END COMPONENTS ############################
